.botaoGeral {
  width: 9rem;
  height: 3rem;
  border: none;
}

.botaoVerde {
  background: #3FB135;
  color: #FFF;
  font-family: SansSerif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
}

.botaoVermelho {
  background: #FA4A4A;
  color: #FFF;
  font-family: SansSerif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
}
